@charset "UTF-8";
@font-face {
    font-family: "branding-sf";
    src: url(./assets/fonts/Branding_SF_SemiBold.otf)
}
@font-face {
    font-family: "branding-sf semilight";
    src:url(./assets/fonts//Branding_SF_SemiLight.otf)
}
html, body { height: 100%; }
body { margin: 0;
}