<div class="sub-content">
    <div class="product-contnet">
        <div class="product-logo-big">
            <img src="../../assets/product-logo-big.png">
        </div>
        <div class="product-content">
            <div style="height: 60px;"></div>
            <div class="text-content">
                <span class="text-content-align">FARM FRESH COW MILK DELIVERED
                </span>
                <span class="text-content-align">WITH IN <b>12 HR OF MILKING</b></span>
            </div>
            <div>
                <div class="sub-text">FREE OF ANTIBIOTIC & HORMONE</div>
            </div>
            <div style="display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100px;
            margin-top: 40px;">
                <button type="button">Try a Free Sample</button>
                <button type="button" style="margin-left: 30px;">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="home-footer">
        <img class="footer" src="../../assets/footer.png">
        <div class="footer-images">
            <img class="footer-block1" src="../../assets/footer_block1.png">
            <img class="footer-block2" src="../../assets/footer_block2.png">
            <img class="footer-block3" src="../../assets/footer_block3.png">
            <img class="footer-block4" src="../../assets/whatsapp.png">
            <img class="footer-block5" src="../../assets/footer_block5.png">
        </div>
    </div>
</div>